@font-face {
  font-family: 'Avenir';
  src: url('fonts/AvenirNextLTPro-Regular.otf');
}
body {
  margin: -8px;
}
*{
  font-family: 'Avenir';
  color: white;
  font-weight: lighter;
}
header {
  width: 100%;
  height: 15vh;
  background-color: #9B9B8C;
  position: relative;
}
#header-text {
  position: absolute;
  padding-top: 5vh;
  font-size: 28px;
  padding-left: 6vw;
}
main {
  height: 78vh;
  width: 100%;
}
#album-covers {
  width: 100%;
  height: 20vh;
  overflow: scroll;
}
#album-text {
  width: 100%;
}
textarea {
  border: 2px solid black;
  margin: auto;
  width: 65%;
  height: 26vh;
  background-color: #EEEEEE;
  display: block;
}
#buttons {
  margin-top: 10px;
  margin-left: 16.5vw;
}
button {
  border: 1px solid #353526;
  border-radius: 5%;
  background-color: #353526;
  font-size: 18px;
  width: 155px;
  height: 37px;
  margin: 8px;
}
footer {
  width: 100%;
  height: 7vh;
  background-color: #686859;
}
p {
  padding-top: 10px;
  padding-left: 6vw;
  font-size: 19px;
}
